@model InventorySystem.Models.ViewModels.ProductVM
@using InventorySystem.Utils

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create New Product";
}

<form method="post" enctype="multipart/form-data">
    @if (Model.Product.Id != 0)
    {
        title = "Edit Product";
        <input asp-for="Product.Id" hidden />
        <input asp-for="Product.ImageUrl" hidden />
    }

    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <h2 class="text-info">@title</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Serial Number</label>
                            <input asp-for="Product.SerialNumber" class="form-control" />
                            <span asp-validation-for="Product.SerialNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Description</label>
                            <input asp-for="Product.Description" class="form-control" />
                            <span asp-validation-for="Product.Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Cost</label>
                            <input asp-for="Product.Cost" class="form-control" />
                            <span asp-validation-for="Product.Cost" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Price</label>
                            <input asp-for="Product.Price" class="form-control" />
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Image</label>
                            <input type="file" accept="image/png, image/gif, image/jpeg" name="files" id="imageId" class="form-control" />
                            <span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Category</label>
                            <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                                <option disabled selected>-- Select Category --</option>
                            </select>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Brand</label>
                            <select asp-for="Product.BrandId" asp-items="@Model.BrandList" class="form-select">
                                <option disabled selected>-- Select Brand --</option>
                            </select>
                            <span asp-validation-for="Product.BrandId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Product Father</label>
                            <select asp-for="Product.FatherId" asp-items="@Model.FatherList" class="form-select">
                                <option disabled selected>-- Product Father --</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>State</label>
                            <select asp-for="Product.State" class="form-select">
                                <option value="true">Active</option>
                                <option value="false">Inactive</option>
                            </select>
                            <span asp-validation-for="Product.State" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="d-grid gap-2 d-md-block">
                        @if(Model.Product.Id != 0)
                        {
                            <partial name="_UpdateAndReturnButtons" model="Model.Product.Id" />
                        }
                        else
                        {
                            <button type="submit" onclick="return validateImage()" class="btn btn-primary"><i class="bi bi-plus-square"></i> Create</button>
                            <a asp-action="Index" class="btn btn-success"><i class="bi bi-arrow-return-left"></i> Return</a>
                        }
                    </div>
                </div>
            </div>
            <div class="col-4">
                @if(Model.Product.Id != 0)
                {
                    <img src="@SD.ImagePath@Model.Product.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb" />
                }
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        const validateImage = () => {
            if(document.getElementById("imageId").value == "") {
                swal("Error", "Select an image!", "error");
                return false;
            }
            return true;
        }
    </script>
}